@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.password-reset-page {
    margin: 0;
    font-family: 'TheJamsil5Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #222222;
    color: white;
}

.password-reset-page::before,
.password-reset-page::after {
    content: '';
    position: absolute;
    background: #63FD8A;
    border-radius: 50%;
    opacity: 0.8;
    z-index: 0;
}

.password-reset-page::before {
    width: 1000px;
    height: 1000px;
    top: -400px;
    left: -400px;
}

.password-reset-page::after {
    width: 1000px;
    height: 1000px;
    bottom: -400px;
    right: -400px;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.password-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.password-todo-title {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

.password-reset-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #5BD96E;
    opacity: 0.8;
}

.password-reset-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: #6c757d;
}

.password-reset-input {
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    width: 93%;
}

.password-reset-button {
    background-color: #5BD96E;
    opacity: 0.8;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-family: 'TheJamsil5Bold', sans-serif;
}

.password-reset-button:hover {
    background-color: #45a049;
}

.password-reset-footer {
    margin-top: 20px;
}

.back-to-login {
    color: #495057;
    text-decoration: none;
    font-size: 14px;
}