@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.login-page {
  margin: 0;
  font-family: 'TheJamsil5Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #222222;
  color: white;
}

.login-page::before, .login-page::after {
  content: '';
  position: absolute;
  background: #63FD8A;
  border-radius: 50%;
  opacity: 0.8;
  z-index: 0;
}

.login-page::before {
  width: 1000px;
  height: 1000px;
  top: -400px;
  left: -400px;
}

.login-page::after {
  width: 1000px;
  height: 1000px;
  bottom: -400px;
  right: -400px;
}

.app-container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.login-todo-title {
  color: white;
  font-size: 45px;
  margin-bottom: 20px;
}

.login-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.login-title {
  color: #5BD96E;
  opacity: 0.8;
  font-size: 30px;
  margin-bottom: 10px;
}

.login-subtitle {
  color: #6c757d;
  font-size: 20px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.login-input {
  padding: 20px;
  margin-bottom: 18px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

.login-container input[type="text"] {
  padding: 20px;
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #ced4da !important;
}


.login-remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #495057;
  margin-bottom: 0px;
}

.login-button {
  padding: 15px;
  background-color: #5BD96E;
  opacity: 0.8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'TheJamsil5Bold', sans-serif;
}

.login-forgot-password {
  margin-top: 40px;
  font-size: 12px;
  color: #D3D3D3;
  text-decoration: none;
}

.login-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #495057;
  margin-bottom: 10px;
  margin-right: 10px;
}

.signup-button {
  background: none;
  border: none;
  color: #495057;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  font-family: 'TheJamsil5Bold', sans-serif;
}
