.todo-setting-container{
    padding: 20px;
    background-color: #1e1e1e;
    height: 100vh;
    color: white;
    overflow: auto;
}

.todo-setting-title{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.setting-button-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.new-task-button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.new-task-button:hover{
    background-color: #0056b3;
}

.setting-confirm-button{
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}

.todo-setting-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
}

.todo-setting-table th, 
.todo-setting-table td{
    border-left: none;
    border-right: none;
    border-top: 1px solid #444;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    line-height: 1.5;
}

.todo-setting-table tr:last-child td{
    border-bottom: 1px solid #444;
}

.status-setting{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    border: none;
    color: black;
}

.status-setting.complete{
    color: #4CAF50;
}

.status-setting.incomplete{
    color: #F44336;
}

.status-icon {
    margin-right: 5px;
    font-size: 1.2em;
    align-items: center;
}

.category{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.category.거실{
    background-color: #4CAF50;
}

.category.기타{
    background-color: #757575;
}

.category.고양이{
    background-color: #F44336;
}

.category.발코니{
    background-color: #FFA500;
}

.category.욕실{
    background-color: #00BCD4;
}

input[type="text"], input[type="number"], select{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.setting-add-task-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.setting-add-task-button:hover {
    background-color: #0056b3;
}

.setting-cancel-task-button {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.setting-cancel-task-button:hover {
    background-color: #cc0000;
}
