@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.signup-page {
  margin: 0;
  font-family: 'TheJamsil5Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #222222;
}

.signup-page::before, .signup-page::after {
  content: '';
  position: absolute;
  background: #63FD8A;
  border-radius: 50%;
  opacity: 0.8;
  z-index: 1;
}

.signup-page::before {
  width: 1000px;
  height: 1000px;
  top: -400px;
  left: -400px;
}

.signup-page::after {
  width: 1000px;
  height: 1000px;
  bottom: -400px;
  right: -400px;
}

.app-container {
  text-align: center;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-todo-title {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.signup-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.signup-title {
  color: #5BD96E;
  opacity: 0.8;
  font-size: 30px;
  margin-bottom: 10px;
}

.signup-subtitle {
  color: #6c757d;
  font-size: 20px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-input {
  padding: 20px;
  margin-bottom: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

.signup-submit {
  padding: 15px;
  background-color: #5BD96E;
  opacity: 0.8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'TheJamsil5Bold', sans-serif;
}

.signup-login-link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #6c757d;
  text-decoration: none;
}
